p{
  font-family: roboto, Arial;
  margin-bottom: 0px;
  margin-top: 0px;
}

.profil-test
{
  position: relative; /* Ini penting untuk membuat konteks bagi absolute positioning */
  width: 300px; /* Sesuaikan lebar sesuai kebutuhan */
  padding: 20px;
  background-color: #d4d6d7;

}
.profilku
{
  width: 75px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  position: relative;
}

.pp
{
  width: 80px;
  height: 80px;
  border-radius: 80px;
  object-fit: cover;
}

.deskripsi
{
  display: inline-block;
  vertical-align: middle;
}
.Nama
{
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5px;
}
.jenis
{
    font-weight: 500;
    margin-bottom: 5px;
    color: rgb(0, 0, 0);
}
.status
{
  font-weight: 500;
  margin-bottom: 5px;
  color: rgb(0, 0, 0);
}

.follow
{
  position: absolute;
    top: 45px; /* Atur posisi vertikal tombol */
    right: 20px; /* Atur posisi horizontal tombol dari kanan */
}
.follow-button
{
    background-color: rgb(63, 149, 241);
    color: white;
    font-family: roboto;
    font-size: 15px;
    font-weight: 500;
    border-radius: 7px;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    transition: background-color 0.5s ease, opacity 0.3s ease ;
    cursor: pointer;
}
.follow-button:hover
{
  background-color: blue;
}

.follow-button:active{
  opacity: 0.5;
}